<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Daily Archaeology</title>
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			.flex-container {
				display: flex;
				flex-direction: row;
				margin: auto;
				padding: 10px;
			}
			.image-box {
				flex: 50%;
				margin: auto;
			}
			.info-box {
				flex: 50%;	
				margin: auto;
				text-align: left;
			}
			@media (max-width: 500px) {
  				.flex-container {
    				flex-direction: column;
    			}
  			}
  			p {
  				font-size: 0.75em;
  			}
		</style>
	</head>
	<body>
		<div class="flex-container">
				<div class="image-box">
					<img th:src="${item.primaryImageSmall}" class="artifact">
				</div>
				<div class="info-box">
					<h3>Welcome to Daily Archaeology!</h3>
					<h4 th:text="'Object Name: ' + ${item.objectName}" />
					<h4 th:text="'Title: ' + ${item.title}" />
					<h4 th:text="'Culture: ' + ${item.culture}" />
					<h4 th:text="'Date: ' + ${item.objectDate}" /> 
					<h4 th:text="'Medium: ' + ${item.medium}" />
					<input type="button" value="Show Me Another One!" onclick="location.reload();">
					<p>All content is provided by The Metropolitan Museum of Art Open Access API. All content is in the public domain.</p>
				</div>
		</div>
	</body>
</html>